
/* =================== reusable style for all components and pages =================== */

/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;700;800&display=swap');

/* =================== global variables =================== */
:root {
	/* primary colours */
	--primary-white: white;

	--primary-light-blue: #6bafff;
	--primary-dark-blue: #006FF2;

	--primary-background-colour: #212229;
	--primary-card-colour: #30353f;

	--std-border-radius: 10px;
	--std-left-border: 3px solid var(--primary-light-blue);
	--std-transition: .3s;
	--std-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 45%);
}

/* ---------- global buttion styles ---------- */
.button {
	background-color: var(--primary-dark-blue);
	border: none;
	border-radius: 100px;
	
	font-size: 10px;
	padding: calc(18px/2.5) calc(32px/2.5);
	text-decoration: none;
	transition: var(--std-transition);
}

.button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'M PLUS 1', sans-serif;
	color: var(--primary-white);
}

/* =================== base page styles =================== */
body {
	background-color: var(--primary-background-colour);
}

/* =================== font styles =================== */
h1 {
	/* extra bold */
	font-weight: 800;
	font-size: 30px;
}

h2 {
	/* bold */
	font-weight: 700;
	font-size: 18px;
}

h3 {
	/* medium */
	font-weight: 500;
	font-size: 16px;
}

h4 {
	font-weight: 500;
	font-size: 14px;
}

p {
	/* regular */
	font-weight: 400;
	font-size: 12px;
}