

/* =================== tasks.js styles =================== */

/* NOTE: ALL THE STYLE SHEETS ARE CONNECTED; WHAT I'M DOING IS OVERRIDING app-style.css
	SO THAT tasks-style.css HAS IT'S OWN STYLE
*/

/* ---------- DESKTOP ---------- */
@media only screen and (min-width: 64.063em) {

	/* =================== grids =================== */
	.main-grid {
		display: grid;
		grid-template-columns: max-content 1fr;
		gap: 10px;
	}

}