		<!-- claim task form -->
		<div id="overlay" class="overlay-container">

			<div id="claim-container" class="claim-task-container">

				<div class="claim-exit-container">
					<button id="claim-exit-btn">
						<span class="material-symbols-rounded">close</span>
					</button>
				</div>

				<h3 id="question">Would you like to claim this task?</h3>

				<form action="" method="post" class="claim-form">

						<div class="selections-container">
							<input type="radio" name="claim_task" id="yes_sel">
							<label for="yes_sel">Yes</label>
							
							<br>

							<input type="radio" name="claim_task" id="no_sel">
							<label for="no_sel">No</label>
						</div>

					<div class="claim-submit-container">
						<button type="submit">Submit</button>
					</div>

				</form>
			</div>
		</div>