
<!-- the add notification form -->
<div id="add-notif-form-container">

	<div class="exit-btn-container">
		<button id="exit-btn">
			<span class="material-symbols-rounded">close</span>
		</button>
	</div>

	<div class="header-container">
		<h2>Let's Create a Notification!</h2>
	</div>

	<form action="" method="post" class="notif-form">
		<div class="notif-title-container">
			<label for="notif_title"></label>
			<input type="text" name="" id="notif_title" placeholder="Title">
		</div>

		<div class="notif-detail-container">
			<label for="notif_detail"></label>
			<textarea name="" id="notif_detail" cols="70" maxlength="60" rows="3" placeholder="Details"></textarea>
		</div>
		<div class="submit-notif-container">
			<button type="submit" id="submit-btn">
				<p>Create Notification</p>
			</button>
		</div>
	</form>
</div>