
<!-- a single task -->
<div class="a-task" draggable="true">
	<div class="task-description-container">
		<h3 class="task-title">
			Slack Integration
			<span id="reminder" class="material-symbols-rounded">notifications_active</span>
		</h3>
		<p class="task-description">
			Add a filled in the portal to the let the user
			connect to their Slack account.
		</p>
	</div>
	<div class="task-priority-container">
		<p class="task-priority-high">High Priority</p>
		<div class="task-user-img"></div>
	</div>
	<hr class="task-horz-line">
	<div class="task-stats">
		<div class="task-stats-top">
			<div class="task-points">
				<span class="material-symbols-rounded">monetization_on</span>
				<p>100</p>
			</div>
			<div class="task-sub-tasks">
				<span class="material-symbols-rounded">add_task</span>
				<div>3</div>
			</div>
		</div>
		<div class="task-stats-bottom">
			<div class="task-due-date">
				<span class="material-symbols-rounded">calendar_month</span>
				<p>October 23, 2022</p>
			</div>
		</div>
	</div>
</div>