/* =================== MEDIA QUERIES =================== */
/* FIXME: see if I can make a constants header like I did in task-board.css */
/* ---------- MOBILE ---------- */
@media only screen and (max-width: 40em) {

	body {
		margin-bottom: 60px;
	}

	/* =================== grids =================== */
	.main-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto auto auto;
		gap: 10px;
	}

	/* navigation sidebar to bottom of page */
	.left-section {
		grid-column: span 4;
		grid-row: 3;
	}

	.middle-section {
		grid-column: span 4;
		grid-row: 1;
	}

	.right-section {
		grid-column: span 4;
		grid-row: 2;
	}
	/* =================== left section =================== */

	/* =================== middle section =================== */
	.middle-section {
		padding: 1rem 1rem 0;
	}

	/* ---------- welcome ---------- */
	.welcome-container h1 {
		font-size: 24px;
	}

	.info-square-container,
	.task-avail-container,
	.recent-notifs-container {
		margin-top: 1rem;
	}

	/* ---------- info square ---------- */
	.small-info-squares {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.info-square {
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
		text-align: center;
		width: 80%;
		height: 8rem;
		padding: 0.5rem;
		margin: 0 auto;
	}

	.info-square h1 {
		font-size: 54px;
	}

	.info-square h3 {
		font-size: 12px;
		color: var(--primary-light-blue);
	}

	/* ---------- tasks available ---------- */
	.task-avail-container {
		padding: 1rem;

		display: grid;
		grid-template-rows: auto auto auto;
		gap: 10px;

		text-align: center;

		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
	}

	.task-avail-container *:not(:last-child) {
		margin-bottom: .5rem;
	}

	.task-avail-container #current-points-avil {
		font-size: 60px;
	}

	.task-avail-container p {
		font-size: 16px;
	}

	/* the span */
	.task-avail-container .add-blue {
		color: var(--primary-light-blue);
		font-weight: 500;
		font-size: 20px;
	}

	/* FIXME: button */

	/* ---------- recent notifications ---------- */
	.recent-notifs-container {
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
		padding: 1rem;
	}

	.notifs-header {
		margin-bottom: 1rem;
	}

	/* do not display button */
	.notifs-header .button-container {
		display: none;
	}

	/* ---------- a notification ---------- */
	.a-notification-container {
		margin-bottom: 1rem;
	}

	.a-notification {
		display: grid;
		grid-template-columns: min-content auto;
		gap: 10px;

		padding: .3rem .5rem;
		border-left: var(--std-left-border);
		border-radius: 0 10px 10px 0;
		margin-left: 1rem;
	}

	/* gives bottom margin to all elements except the last child */
	.a-notification:not(:last-child) {
		margin-bottom: 1rem;
	}

	.user-profile {
		margin: auto auto;
		padding: .3rem;
		text-align: center;
	}

	.user-profile img {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 100%;
		border: 3px solid var(--primary-dark-blue);
		margin-bottom: .3rem;
	}

	.user-post .time-date-header {
		color: var(--primary-dark-blue);
	}

	.user-post .notif-style {
		color: grey
	}

	/* =================== right section =================== */
	.right-section {
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
		padding: 1rem;

		/* each card is 16px between eachother, 
			b/c right section is in separate grid column 
			it already has a 10px margin.
			therefore 16px (=1rem) - 10px = 6px
		*/
		margin: calc(1rem - 10px) 1rem;
	}

	/* ---------- calendar ---------- */
	.calendar {
		display: none;
	}

	/* ---------- today's events ---------- */
	.right-section h2 {
		margin-bottom: 1rem;
	}

	.a-event {
		border-left: var(--std-left-border);
		border-radius: 0 10px 10px 0;
		padding: 0.3rem;
		padding-left: .5rem;
		margin-bottom: 1rem;
		margin-left: 1rem;
	}

	.a-event p {
		color: grey;
	}

	/* ---------- go to calendar btn ---------- */
	/* FIXME: button */
}

/* ---------- TABLET ---------- */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	body {
		margin-bottom: 60px;
	}

	/* =================== grids =================== */
	.main-grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto auto auto;
		gap: 10px;
	}

	/* navigation sidebar to bottom of page */
	.left-section {
		grid-column: span 6;
		grid-row: 3;
	}

	.middle-section {
		grid-column: span 6;
		grid-row: 1;
	}

	.right-section {
		grid-column: span 6;
		grid-row: 2;
	}

	/* =================== left section =================== */

	/* =================== middle section =================== */
	.middle-section {
		padding: 1rem 1rem 0;
	}

	/* ---------- welcome ---------- */
	.welcome-container h1 {
		font-size: 24px;
	}

	.info-square-container,
	.task-avail-container,
	.recent-notifs-container {
		margin-top: 1rem;
	}

	/* ---------- info square ---------- */
	.small-info-squares {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.info-square {
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
		text-align: center;
		width: 80%;
		height: 8rem;
		padding: 0.5rem;
		margin: 0 auto;
	}

	.info-square h1 {
		font-size: 54px;
	}

	.info-square h3 {
		font-size: 12px;
		color: var(--primary-light-blue);
	}

	/* ---------- tasks available ---------- */
	.task-avail-container {
		padding: 1rem;

		display: grid;
		grid-template-rows: auto auto auto;
		gap: 10px;

		text-align: center;

		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
	}

	.task-avail-container *:not(:last-child) {
		margin-bottom: .5rem;
	}

	.task-avail-container #current-points-avil {
		font-size: 60px;
	}

	.task-avail-container p {
		font-size: 16px;
	}

	/* the span */
	.task-avail-container .add-blue {
		color: var(--primary-light-blue);
		font-weight: 500;
		font-size: 20px;
	}

	/* FIXME: button */

	/* ---------- recent notifications ---------- */
	.recent-notifs-container {
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
		padding: 1rem;
	}

	.notifs-header {
		margin-bottom: 1rem;
	}

	/* do not display button */
	.notifs-header .button-container {
		display: none;
	}

	/* ---------- a notification ---------- */
	.a-notification-container {
		margin-bottom: 1rem;
	}

	.a-notification {
		display: grid;
		grid-template-columns: min-content auto;
		gap: 10px;

		padding: .3rem .5rem;
		border-left: var(--std-left-border);
		border-radius: 0 10px 10px 0;
		margin-left: 1rem;
	}

	/* gives bottom margin to all elements except the last child */
	.a-notification:not(:last-child) {
		margin-bottom: 1rem;
	}

	.user-profile {
		margin: auto auto;
		padding: .3rem;
		text-align: center;
	}

	.user-profile img {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 100%;
		border: 3px solid var(--primary-dark-blue);
		margin-bottom: .3rem;
	}

	.user-post .time-date-header {
		color: var(--primary-dark-blue);
	}

	.user-post .notif-style {
		color: grey
	}

	/* =================== right section =================== */
	.right-section {
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
		padding: 1rem;
		margin: calc(1rem - 10px) 1rem;
	}

	/* ---------- calendar ---------- */
	.calendar {
		display: none;
	}

	/* ---------- today's events ---------- */
	.right-section h2 {
		margin-bottom: 1rem;
	}

	.a-event {
		border-left: var(--std-left-border);
		border-radius: 0 10px 10px 0;
		padding: 0.3rem;
		padding-left: .5rem;
		margin-bottom: 1rem;
		margin-left: 1rem;
	}

	.a-event p {
		color: grey;
	}

	/* ---------- go to calendar btn ---------- */
	/* FIXME: button */
}

/* ---------- DESKTOP ---------- */
@media only screen and (min-width: 64.063em) {

	/* =================== section grids =================== */
	.left-section {
		grid-column: span 1;
	}

	.middle-section {
		grid-column: span 8;
	}

	.right-section {
		grid-column: span 3;
	}

	/* =================== middle section =================== */
	.middle-section {
		padding: 1rem;
	}

	/* ---------- welcome ---------- */
	.info-square-container,
	.task-avail-container,
	.recent-notifs-container {
		margin-top: 1rem;
	}

	/* ---------- info square ---------- */
	.small-info-squares {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}
	
	.info-square {
		margin: 0 auto;
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		text-align: center;
		width: 8rem;
		height: 8rem;
		transition: var(--std-transition);
		padding: 0.5rem;
		box-shadow: var(--std-box-shadow);
	}

	.info-square:hover {
		transform: translateY(-.5rem);
		transition: var(--std-transition);
	}

	.info-square h1 {
		font-size: 54px;
	}

	.info-square h3 {
		font-size: 12px;
		color: var(--primary-light-blue);
	}

	/* ---------- tasks available ---------- */
	.task-avail-container {
		padding: 1rem;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto min-content;
		gap: 10px;

		text-align: center;

		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
	}
	
	.task-avail-container p {
		grid-column: span 1;
		grid-row: 1;
		
		font-size: 16px;
		margin: auto auto;
	}

	.task-avail-container #current-points-avil {
		grid-column: span 1;
		grid-row: 1;
		font-size: 60px;
	}

	.task-avail-container a {
		grid-column: span 1;
		grid-row: 2;
	}

	/* the span */
	.task-avail-container .add-blue {
		color: var(--primary-light-blue);
		font-weight: 500;
		font-size: 20px;
	}

	/* FIXME: button edits */

	/* ---------- recent notifications ---------- */
	.recent-notifs-container {
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius);
		box-shadow: var(--std-box-shadow);
		padding: 1rem;
	}

	.notifs-header {
		display: grid;
		grid-template-columns: .4fr auto;
		margin-bottom: .5rem;
	}

	/* ---------- a notification ---------- */
	.a-notification-container {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		gap: 16px;
	}

	.a-notification {
		display: grid;
		grid-template-columns: min-content auto;
		gap: 10px;
		padding: .3rem .5rem;
		border-left: var(--std-left-border);
		border-radius: 0 10px 10px 0;
		margin-left: 1rem;
		transition: var(--std-transition);
	}

	.user-profile {
		margin: auto auto;
		padding: .3rem;
		text-align: center;
	}

	.user-profile img {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 100%;
		border: 3px solid var(--primary-dark-blue);
		margin-bottom: .3rem;
	}

	.user-post {
		max-width: 44rem;
	}

	.user-post .time-date-header {
		color: var(--primary-dark-blue);
	}

	.user-post .notif-style {
		color: grey
	}

	/* ---------- a notification ---------- */
	/* FIXME: button */

	/* =================== right section =================== */
	.right-section {
		background-color: var(--primary-card-colour);
		border-radius: var(--std-border-radius) 0px 0px var(--std-border-radius);
		padding: 1rem;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content auto auto;
		gap: 20px;

		height: 100vh;
	}

	/* ---------- calendar ---------- */
	.calendar {
		background-color: green;
		border-radius: var(--std-border-radius);
		width: 15rem;
		height: 15rem;
		margin: 0 auto;
	}

	/* ---------- today's events ---------- */
	.event-container h2 {
		margin-bottom: 1rem;
	}

	.a-event {
		border-left: var(--std-left-border);
		border-radius: 0 10px 10px 0;
		padding: 0.3rem;
		padding-left: .5rem;
		transition: var(--std-transition);
		margin-left: 1rem;
	}

	/* selects all elements except the last one */
	.a-event:not(:last-child) {
		margin-bottom: 1rem;
	}

	.a-event:hover {
		cursor: pointer;
		background-color: var(--primary-background-colour);
		transition: var(--std-transition);
	}

	.a-event p {
		color: grey;
	}

	/* ---------- go to calendar btn ---------- */
	/* FIXME: button */
}