
/* =================== CONSTANTS =================== */
.main-grid {
	grid-template-columns: repeat(12, 1fr);
	gap: 0;
	height: 100vh;

	background-color: var(--primary-background-colour);
	padding: 1rem 7rem;
}

/* =================== left section =================== */
.left-section {
	grid-column: span 8;
	border-radius: 10px 0 0 10px;
	background-color: var(--primary-card-colour);
	padding: .5rem;
	box-shadow: var(--std-box-shadow);
}

/* ---------- logo container ---------- */
.logo-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.logo-container img {
	width: 4rem;
	height: 4rem;
}

/* ---------- sign in container ---------- */
.sign-in-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 3rem;
}

/* ---------- the form ---------- */
.sign-in-form {
	padding: 1rem 0;
}

/* ---------- input styles ---------- */
input[type=text],
input[type=password], input[type=email] {
	padding: .8rem;
	width: 50%;
	border-radius: var(--std-border-radius);
	background-color: var(--primary-input-colour);
	border: 2px solid var(--primary-light-blue);
	outline: none;
}

input[type=text]::placeholder,
input[type=password]::placeholder, input[type=email]::placeholder {
	color: var(--primary-white)
}

input[type=text]:focus,
input[type=password]:focus, input[type=email]:focus {
	border-color: var(--primary-dark-blue);
	border-color: var(--primary-white);
}

/* ---------- input contaner ---------- */
.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 1rem 0;
}

.input-container input:not(:last-child) {
	margin-bottom: 1rem;
}

/* ---------- forgot and submit container ---------- */
/* underline effect  */
.underlineEffect a {
	color: var(--primary-white);
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	padding: .3rem 1rem;
	position: relative;
}

.underlineEffect a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: var(--primary-light-blue);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.underlineEffect a:hover:after { 
	width: 100%; 
	left: 0; 
}

/* ---------- sign in button ---------- */
#sign-in-btn {
	margin-top: 1.5rem;
	background-color: var(--primary-dark-blue);
	border: 3px solid var(--primary-dark-blue);
	border-radius: 100px;
	width: 14rem;
	padding: 1rem 2rem;
	text-transform: uppercase;
	transition: var(--std-transition);
}

#sign-in-btn:hover {
	cursor: pointer;
	border: 3px solid var(--primary-light-blue);
	box-shadow: 0px 8px 8px 0px  rgba(0, 0, 0, 45%);
	transition: var(--std-transition);
}
/* =================== right section =================== */
.right-section {
	grid-column: span 4;
	background-color: var(--primary-dark-blue);
	border-radius: 0 10px 10px 0;
	box-shadow: var(--std-box-shadow);

	padding: .5rem;
	text-align: center;
}

.new-user-container {
	padding: 12rem 0;
}

.new-user-container h1 {
	margin-bottom: 1rem;
}

.new-user-container h4 {
	width: 30ch;
	margin: 0 auto 2rem;
}

.sign-up-btn-container button {
	background-color: var(--primary-dark-blue);
	border: 3px solid var(--primary-light-blue);
	padding: 1rem 2rem;
	border-radius: 100px;
	width: 14rem;
	text-transform: uppercase;
	transition: var(--std-transition);
}

.sign-up-btn-container button:hover {
	cursor: pointer;
	background-color: var(--primary-input-colour);
	border: 3px solid var(--primary-light-blue);
	box-shadow: 0px 5px 8px 0px  rgba(0, 0, 0, 45%);
	transition: var(--std-transition);
}