body {
	background-color: var(--primary-background-colour);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	transition: 0.5s;
}

/* =================== CONSTANTS =================== */
.main-grid {
	gap: 0;
	position: relative;
	height: 80vh;
	width: 128vh;
	background-color: var(--primary-card-colour);
	border-radius: 10px;
	box-shadow: var(--std-box-shadow);
}

/* =================== sign-up section && sign-in section =================== */
.sign-up-section {
	position: absolute;
	right: 0;
	width: 66%;
	height: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
	padding: .5rem;
}

.sign-in-section {
	position: absolute;
	left: 0;
	width: 66%;
	height: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
	padding: .5rem;
}

/* ---------- logo container ---------- */
.logo-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.logo-container img {
	width: 4rem;
	height: 4rem;
	z-index: 10;
}

/* ---------- form container ---------- */
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 3rem;
	width: 100%;
}

/* ---------- the form ---------- */
.sign-in-form {
	padding: 1rem 0;
}

/* ---------- input styles ---------- */
input[type=text],
input[type=password], input[type=email] {
	padding: .8rem;
	width: 50%;
	border-radius: var(--std-border-radius);
	background-color: var(--primary-input-colour);
	border: 2px solid var(--primary-light-blue);
	outline: none;
}

input[type=text]::placeholder,
input[type=password]::placeholder, input[type=email]::placeholder {
	color: var(--primary-white)
}

input[type=text]:focus,
input[type=password]:focus, input[type=email]:focus {
	border-color: var(--primary-dark-blue);
	border-color: var(--primary-white);
}

/* ---------- input contaner ---------- */
.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 1rem 0;
}

.input-container input:not(:last-child) {
	margin-bottom: 1rem;
}

/* ---------- forgot and submit container ---------- */
/* underline effect  */
.underlineEffect a {
	color: var(--primary-white);
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	padding: .3rem 1rem;
	position: relative;
}

.underlineEffect a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: var(--primary-light-blue);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.underlineEffect a:hover:after { 
	width: 100%; 
	left: 0; 
}

/* ---------- sign in button ---------- */
#sign-in-btn {
	margin-top: 1.5rem;
	background-color: var(--primary-dark-blue);
	border: 3px solid var(--primary-dark-blue);
	border-radius: 100px;
	width: 14rem;
	padding: 1rem 2rem;
	text-transform: uppercase;
	transition: var(--std-transition);
}

#sign-in-btn:hover {
	cursor: pointer;
	border: 3px solid var(--primary-light-blue);
	box-shadow: 0px 8px 8px 0px  rgba(0, 0, 0, 45%);
	transition: var(--std-transition);
}
/* =================== right section =================== */
.right-section {
	position: absolute;
	right: 0;
	height: 100%;
	width: 33%;
	grid-column: span 4;
	background-color: var(--primary-dark-blue);
	border-radius: 0 10px 10px 0;
	box-shadow: var(--std-box-shadow);

	padding: .5rem;
	text-align: center;
	transition: 0.5s ease-in-out;
	overflow: hidden;
}

.right-section.active {
	border-radius: 10px 0 0 10px;
	transform: translateX(-203%)
}

.right-section.active .new-user-container {
	right: -200%;
}

.right-section.active .old-user-container {
	transform: translateX(200%);
	transition-delay: 0.55s;
}

.new-user-container {
	width: 100%;
	position: absolute;
	padding: 12rem 0;
	padding-right: 8px;
}

.new-user-container h1 {
	margin-bottom: 1rem;
}

.new-user-container h4 {
	width: 30ch;
	margin: 0 auto 2rem;
}

.old-user-container {
	width: 100%;
	position: absolute;
	padding: 12rem 0;
	left: -200%;
}

.old-user-container h1 {
	margin-bottom: 1rem;
}

.old-user-container h4 {
	width: 30ch;
	margin: 0 auto 2rem;
}

.sign-up-btn-container button {
	background-color: var(--primary-dark-blue);
	border: 3px solid var(--primary-light-blue);
	padding: 1rem 2rem;
	border-radius: 100px;
	width: 14rem;
	text-transform: uppercase;
	transition: var(--std-transition);
}

.sign-up-btn-container button:hover {
	cursor: pointer;
	background-color: var(--primary-input-colour);
	border: 3px solid var(--primary-light-blue);
	box-shadow: 0px 5px 8px 0px  rgba(0, 0, 0, 45%);
	transition: var(--std-transition);
}

.none {
	display: none;
}