:root {
	--primary-form-colour: #005FCF;
	--primary-input-colour: rgba(107, 175, 255, 50%);
}

/* =================== CONSTANTS =================== */
.main-grid {
	grid-template-columns: repeat(12, 1fr);
	gap: 0;
	height: 100vh;

	background-color: var(--primary-background-colour);
	padding: 1rem 7rem;
}

/* =================== left section =================== */
.left-section {
	grid-column: span 8;
	border-radius: 10px 0 0 10px;
	background-color: var(--primary-card-colour);
	padding: 1rem;
	box-shadow: var(--std-box-shadow);
}

.logo-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.logo-container *:not(:last-child) {
	margin-right: 1rem;
}

.logo-container img {
	width: 4rem;
	height: 4rem;
}

.sign-in-container {
	text-align: center;
	/* margin: auto 0px; */
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* height: 77vh; */
}

.sign-in-form {
	padding: 1rem 0;
}

.sign-in-form * {
	margin-bottom: .5rem;
}

input[type=text],
input[type=password] {
	padding: .8rem;
	width: 50%;
	border-radius: var(--std-border-radius);
	background-color: var(--primary-light-blue);
	background-color: var(--primary-input-colour);
	border: 2px solid var(--primary-light-blue);
	outline: none;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
	color: var(--primary-white)
}

input[type=text]:focus,
input[type=password]:focus {
	border-color: var(--primary-dark-blue);
	border-color: var(--primary-white);
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* underline effect  */
.underlineEffect a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: .5rem 1rem;
	position: relative;
}

.underlineEffect a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.underlineEffect a:hover:after { 
	width: 100%; 
	left: 0; 
}

#sign-in-btn {
	background-color: var(--primary-dark-blue);
	border: 2px solid var(--primary-dark-blue);
	border-radius: 100px;
	width: 10rem;
	padding: 1rem;
}

/* =================== right section =================== */
.right-section {
	grid-column: span 4;
	background-color: var(--primary-dark-blue);
	border-radius: 0 10px 10px 0;
	box-shadow: var(--std-box-shadow);
}