
/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;700;800&display=swap');

/* =================== global variables =================== */
:root {
	/* primary colours */
	--primary-white: white;
	--primary-grey: #b0b0b0;

	--primary-light-blue: #6bafff;
	--primary-dark-blue: #006FF2;

	--primary-background-colour: #212229;
	--primary-card-colour: #30353f;

	--std-border-radius: 10px;
	--std-left-border: 3px solid var(--primary-light-blue);
	--std-transition: .3s;
	--std-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 45%);

	--primary-form-colour: #005FCF;
	--primary-input-colour: rgba(107, 175, 255, 50%);
}

/* ---------- global buttion styles ---------- */
/* FIXME: fix these buttons */
.button {
	background-color: var(--primary-dark-blue);
	border: 2px solid var(--primary-dark-blue);
	border-radius: var(--std-border-radius);
	padding: .5rem;
	transition: var(--std-transition);
}

.button:hover {
	background-color: rgba(0, 111, 242, 50%);
	transition: var(--std-transition);
	cursor: pointer;
}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'M PLUS 1', sans-serif;
	color: var(--primary-white);
}

/* =================== base page styles =================== */
body {
	background-color: var(--primary-background-colour);
}

/* =================== font styles =================== */
h1 {
	/* extra bold */
	font-weight: 800;
	font-size: 30px;
}

h2 {
	/* bold */
	font-weight: 700;
	font-size: 18px;
}

h3 {
	/* medium */
	font-weight: 500;
	font-size: 16px;
}

h4 {
	font-weight: 500;
	font-size: 14px;
}

p {
	/* regular */
	font-weight: 400;
	font-size: 12px;
}

/* =================== main grid global =================== */
.main-grid {
	display: grid;
	grid-template-columns: max-content repeat(11, 1fr);
	gap: 10px;
}

/* =================== global navigation -- desktop =================== */
#nav-sidebar {
	background-color: var(--primary-background-colour);
	margin: 1rem;
}

.logo-container {
	padding: 1rem;
	text-align: center;
}

.logo-container #logo {
	width: 5rem;
}

.nav-sidebar-content {
	display: flex;
	height: calc(100vh - 9.5rem);
	flex-direction: column;
	justify-content: space-between;
	padding: .8rem;
}

.nav-sidebar-content .list-item {
	list-style: none;
}

.list-item.mobile {
	display: none;
}

.list-item .nav-link {
	display: flex;
	align-items: center;
	margin: .5rem 0;
	padding: .8rem;
	text-decoration: none;
	border-radius: var(--std-border-radius);
	transition: var(--std-transition);
}

.desktop-current {
	background-color: var(--primary-dark-blue);
}

.list-item .nav-link:hover {
	background-color: var(--primary-dark-blue);
	transition: var(--std-transition);
}

.nav-link .material-symbols-rounded {
	margin-right: .4rem;
	font-size: 16px;
	color: var(--primary-white);
}

.nav-link .link {
	font-size: 12px;
	color: white;
}

.link #notif-number {
	background-color: var(--primary-light-blue);
	--std-border-radius: 5px;
	border-radius: var(--std-border-radius);
	padding: 0.3rem .4rem;
	margin-left: .5rem;
}