
/* =================== font styles =================== */
label {
	font-size: 12px;
}

/* =================== CONSTANTS =================== */
input[type=text], 
textarea, 
input[type=date], 
input[type=number], 
select {
	background-color: var(--primary-input-colour);
	border-radius: var(--std-border-radius);
	border: 2px solid var(--primary-light-blue);
	outline: none;
}

input[type=number] {
	padding: .3rem;
	padding-left: .8rem;
}

/* change the place holder colour */
input[type=text]::placeholder, 
textarea::placeholder, 
input[type=date]::placeholder, 
input[type=number]::placeholder, 
select::placeholder {
	color: white;
}

input[type=text]:focus, 
textarea:focus, 
input[type=date]:focus, 
input[type=number]:focus, 
select:focus {
	border: 2px solid var(--primary-white);
}

/* =================== form container =================== */
#form-container {
	position: absolute;

	display: flex;
	flex-direction: column;
	right: 0;

	min-width: 40vw;
	max-height: 100vh;
	background-color: var(--primary-form-colour);
	box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 45%);
	border-radius: 10px 0px 0px 10px;
	padding: 1.5rem;

	overflow-y: auto;
	
	display: none;
}


/* =================== exit button =================== */
#exit-btn {
	background-color: var(--primary-form-colour);
	border-radius: var(--std-border-radius);
	padding: .3rem;
	display: flex;
	align-self: center;
	border: none;
	transition: var(--std-transition);
}

#exit-btn span {
	font-size: 20px;
	font-weight: 500;
}

#exit-btn:hover {
	cursor: pointer;
	background-color: var(--primary-dark-blue);
	transition: var(--std-transition);
}

/* =================== header container =================== */
.header-container h2 {
	text-align: center;
	margin: .3rem 0;
}

/* =================== form =================== */

/* ---------- task name ---------- */
.task-name-container {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.task-name-container input[type=text] {
	padding: .5rem;
}

/* ---------- task details ---------- */
.task-detail-container {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.task-detail-container textarea {
	padding: .5rem;
}

/* ---------- sub task container ---------- */
.sub-task-container {
	margin: .5rem 0;
}
.input-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.input-container input[type=text] {
	padding: .5rem;
	width: 100%;
}

/* ---------- add sub task button ---------- */
.add-sub-task-btn-container {
	margin-left: .5rem;
}

.add-sub-task-btn {
	display: flex;
	vertical-align: middle;

	background-color: blue;
	border: 2px solid blue;
	border-radius: var(--std-border-radius);
	padding: .5rem;

	transition: var(--std-transition);
}

.add-sub-task-btn:hover {
	cursor: pointer;
	background-color: var(--primary-input-colour); 
	border-color: var(--primary-light-blue);
	transition: var(--std-transition);
}

.add-sub-task-btn span {
	font-size: 20px;
}

/* ---------- task container ---------- */
.task-container {
	margin-top: .5rem;

	background-color: var(--primary-input-colour);
	border-radius: var(--std-border-radius);
	border: 2px solid var(--primary-light-blue);
	padding: .5rem;

	display: none;
}

.sub-task {
	font-size: 14px;
}

/* ---------- due date container ---------- */
.due-date-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	margin: 1rem 0;
}

.due-date-container div {
	background-color: var(--primary-input-colour);
	border-radius: var(--std-border-radius);
	border: 2px solid var(--primary-light-blue);
	padding: .5rem;
	width: 100%;
	text-align: center;
}

.created-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.due-container input[type=date] {
	padding: .3rem;
}

.due-container p {
	margin-top: .5rem;
}

#total-days {
	color: black;
	font-weight: 600;
}

/* ---------- priority container ---------- */
.priority-container select {
	width: 100%;
	padding: .3rem;
}

/* ---------- repeats container ---------- */
.repeat-toggle-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0;
}

.repeat-toggle-container label {
	margin-right: .5rem;
}

/* =================== repeat expanded =================== */
.repeat-expanded {
	padding: 1rem;
	background-color: var(--primary-input-colour);
	border-radius: var(--std-border-radius);
	border: 2px solid var(--primary-light-blue);

	display: none;
}

.every-container {
	display: flex;
	flex-direction: row;
}

/* ---------- repeats every container ---------- */
.repeat-every-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 2rem;
}

.repeat-every-container *:not(:last-child) {
	margin-right: .5rem;
}

.repeat-every-container input[type=number] {
	width: 4rem;
}

/* ---------- radio buttons ---------- */
.radio-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.radio-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	margin-right: 1rem;
}

.radio-btn input[type=radio] {
	margin-right: .5rem;
}

/* ---------- repeat on container ---------- */
.repeat-on-container {
	margin: 1rem 0;
}

.repeat-on-container p {
	margin-bottom: .5rem;
}

.days-of-the-week-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;

	padding: 1rem;
	background-color: var(--primary-input-colour);
	border-radius: var(--std-border-radius);
	border: 2px solid var(--primary-light-blue);
}

/* ---------- repeat ends container ---------- */
.repeat-ends-container {
	margin: 1rem 0 0;
}

.repeat-ends-container #ends-header {
	margin-bottom: .5rem;
}

.repeat-type-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

#repeat-type-or {
	font-weight: 500;
	color:blue
}

.on-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	padding: 1rem;
	background-color: var(--primary-input-colour);
	border-radius: var(--std-border-radius);
	border: 2px solid var(--primary-light-blue);
}

.on-container *:not(:last-child) {
	margin-right: .5rem;
}

.on-container input[type=date] {
	padding: .3rem;
}

.on-container input[type=number] {
	width: 4rem;
}
/* ---------- submit form button ---------- */
.submit-task-container {
	text-align: center;
	margin-top: 1rem;
}

.submit-task-container button {
	background-color: blue;
	border: 2px solid blue;
	border-radius: var(--std-border-radius);

	padding: .5rem;
	width: 100%;
	transition: var(--std-transition);
}

.submit-task-container button:hover {
	cursor: pointer;
	background-color: var(--primary-input-colour); 
	border-color: var(--primary-light-blue);
	transition: var(--std-transition);
}