
/* =================== CONSTANT STYLES =================== */

/* ---------- top button container ---------- */
/* ---------- left buttons ---------- */
.left-buttons-container {
	display: flex;
	flex-direction: row;
}

.btns-link {
	text-decoration: none;
}

.left-buttons-container .btns-link:not(:last-child) {
	margin-right: 1rem;
}

/* ---------- buttons (both left and right) ---------- */
.button {
	background-color: var(--primary-card-colour);
	border: 2px solid var(--primary-card-colour);
	border-radius: var(--std-border-radius);
	padding: .6rem 2rem;

	display: flex;
	flex-direction: row;
	text-align: center;
}

.button span, .button p {
	margin: auto 0;
	font-size: 14px;
}

.button *:not(:last-child) {
	margin-right: .3rem;
	display: inline-block;
}

/* ---------- current button ---------- */
.button.current {
	border: 2px solid var(--primary-light-blue);
	background-color: rgba(107, 175, 255, 50%);
}

/* ---------- right button ---------- */
.button.right {
	background-color: var(--primary-dark-blue);
	border: 2px solid rgba(0, 111, 242, 50%);
}

.table-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content;
}

.table-header-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 10px;
}

.table-header-container h4 {
	background-color: green;

}

.task {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 10px;
}

.checkbox-container {
	grid-column: span 1;

}

.assignee-container img {
	width: 4rem;
	height: 4rem;
}
/* =================== media queries =================== */
/* ---------- MOBILE ---------- */
/* ---------- TABLET ---------- */

/* ---------- DESKTOP ---------- */
@media  screen and (min-width: 64.063em) {
	
	/* =================== left section =================== */
	.left-section {
		grid-column: span 1;
	}
	
	/* =================== middle section =================== */
	.middle-section {
		grid-column: span 11;
		margin: 1rem;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content;
		gap: 10px;
	}

	/* ---------- top button container ---------- */
	.top-button-container {
		grid-row: span 1;

		margin-top: 3rem;
		margin-bottom: 1rem;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	/* ---------- buttons ---------- */
	.button {
		cursor: pointer;
		transition: var(--std-transition);
	}

	/* left buttons hover */
	.button:hover {
		transition: var(--std-transition);
		border: 2px solid var(--primary-light-blue);
		background-color: rgb(107, 175, 255, 50%);
	}

	/* right buttons hover */
	.button.right:hover {
		background-color: rgba(0, 111, 242, 50%);
		border: 2px solid var(--primary-dark-blue);
	}

	/* ---------- bottom container ---------- */
	.bottom-container {
		grid-row: span 1;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content;
		gap: 10px;
	}

	/* ---------- new task button ---------- */
	.new-task-button-container #new-task-button {
		width: 100%;
		background-color: var(--primary-dark-blue);
		margin: 1rem 0;
	}

	/* ---------- row container ---------- */
	.row-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, min-content);
		gap: 10px;
	}
}