{% load static %}

<section class="left-section">

    <nav id="nav-sidebar">

        <div class="logo-container">
            <img id="logo" src="{% static "users/assets/icons/logo-round.png" %}" alt="logo">
        </div>

        <div class="nav-sidebar-content">

            <ul class="list">

                <li class="list-item">
                    <a href="./index.html" class="nav-link">
                        <span class="material-symbols-rounded">dashboard</span>
                        <span class="link">Dashboard</span>
                    </a>
                </li>

                <li class="list-item">
                    <a href="./task-board.html" class="nav-link">
                        <span class="material-symbols-rounded">task_alt</span>
                        <span class="link">Tasks</span>
                    </a>
                </li>

                <li class="list-item">
                    <a href="./calendar.html" class="nav-link">
                        <span class="material-symbols-rounded">calendar_month</span>
                        <span class="link">Calendar</span>
                    </a>
                </li>

                <li class="list-item">
                    <a href="./notifications.html" class="nav-link desktop-current">
                        <span class="material-symbols-rounded mobile-current">notifications</span>
                        <span class="link">Notifications <span id="notif-number">1</span></span>
                    </a>
                </li>

                <li class="list-item">
                    <a href="./leaderboard.html" class="nav-link">
                        <span class="material-symbols-rounded">leaderboard</span>
                        <span class="link">Leaderboard</span>
                    </a>
                </li>

            </ul>

            <div class="list-bottom-content">

                <li class="list-item">
                    <a href="./settings.html" class="nav-link">
                        <span class="material-symbols-rounded">settings</span>
                        <span class="link">Settings</span>
                    </a>
                </li>

                <li class="list-item">
                    <a href="./log-in.html" class="nav-link">
                        <span class="material-symbols-rounded">logout</span>
                        <span class="link">Logout</span>
                    </a>
                </li>

            </div>
            
        </div>

    </nav>

</section>