{% extends 'users/base.html' %}
{% load static %}

{% block css_files %}
    <!-- link to notifications style -->
	<link rel="stylesheet" href="{% static "users/styles/notifications.css"%}">
	<!-- link to notification form -->
	<link rel="stylesheet" href="{% static "users/styles/notif-form.css"%}">
{% endblock %}

{% block content %}
<div id="add-notif-form-container">

	<div class="exit-btn-container">
		<button id="exit-btn">
			<span class="material-symbols-rounded">close</span>
		</button>
	</div>

	<div class="header-container">
		<h2>Let's Create a Notification!</h2>
	</div>

	<form action="" method="post" class="notif-form">
		<div class="notif-title-container">
			<label for="notif_title"></label>
			<input type="text" name="" id="notif_title" placeholder="Title">
		</div>

		<div class="notif-detail-container">
			<label for="notif_detail"></label>
			<textarea name="" id="notif_detail" cols="70" maxlength="60" rows="3" placeholder="Details"></textarea>
		</div>
		<div class="submit-notif-container">
			<button type="submit" id="submit-btn">
				<p>Create Notification</p>
			</button>
		</div>
	</form>
</div>


<div class="main-grid">

	<!-- include navbar -->
	{% include 'users/includes/nav.html'%}

	<section class="middle-section">

		<div class="button-container">
			<button id="add-notif-btn">
				<span class="material-symbols-rounded">add</span>
				<p>Add Notification</p>
			</button>
		</div>

		<div class="left-right-container">

			<div class="left-container">

				<h2>[Today/Weeks]'s Notifications</h2>

				<div class="todays-notification-container">

					<!-- a notification -->
					{% comment %} {% for notif in notifs %} {% endcomment %}
						<div class="a-notification">
							<div class="user-profile">
								<img src="{{ user_img }}" alt="">
								<p class="user-name">{{ user_name }}</p>
							</div>
							<div class="user-post">
								<p class="time-date-header">Posted: <span class="notif-style">{{ time }} | {{ date }}</span></p>
								<h3 class="notif-title">{{ title }}</h3>
								<p class="notif-body">{{ body }}</p>
							</div>
						</div>
					{% comment %} {% endfor %} {% endcomment %}

				</div>
			</div>

			<div class="right-container">
				<h2>[Today/This Weeks] Completed Tasks</h2>
			
				<div class="table-container">
						<div class="table">

							<!-- table header -->
							<div class="row header">
								<h4>User</h4>
								<h4>Task Completed</h4>
								<h4>Earned Points</h4>
							</div>
			
							<div class="row-data-container">
								<!-- table data -->
								{% for task in tasks %}
									<div class="row data">
										<div class="user-prof">
											<img src="{{ task.user_img }}" alt="">
											<p>{{ task.user_name }}</p>
										</div>
										<div class="comp-task">
											<h4>{{ task.title }}</h4>
										</div>
										<div class="earned-pts">
											<h4>{{ task.pts }}</h4>
										</div>
									</div>
								{% endfor %}

						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
</div>
{% endblock %}

{% block js_files %}
	<script src="{% static "users/actions/notifications.js"%}"></script>
{% endblock %}