{% extends 'users/base.html' %}
{% load static %}

{% block css_files %}
<!-- link to notifications style -->
<link rel="stylesheet" href="{% static 'users/styles/notifications.css' %}">

<!-- link to notification form -->
<link rel="stylesheet" href="{% static 'users/styles/notif-form.css' %}">
{% endblock %}

{% block content %}

 <!-- mobile nav -->
 <div class="mobile-nav-container">

	<nav class="mobile-nav">
		<!-- dashboard -->
		<button class="menu-item">
			<a href="{% url 'dashboard' %}" class="nav-link">
				<span class="material-symbols-rounded mobile-current">dashboard</span>
			</a>
		</button>
	
		<!-- tasks -->
		<button class="menu-item">
			<a href="{% url 'taskboard' %}" class="nav-link">
				<span class="material-symbols-rounded">task_alt</span>
			</a>
		</button>
	
		<!-- notificatoins -->
		<button class="menu-item mobile-current">
			<a href="{% url 'bulletin' %}" class="nav-link">
				<span class="material-symbols-rounded">notifications</span>
			</a>
		</button>
	
		<!-- leaderboard -->
		<button class="menu-item">
			<a href="{% url 'leaderboard' %}" class="nav-link">
				<span class="material-symbols-rounded">leaderboard</span>
			</a>
		</button>
	
		<!-- lootbox -->
		<button class="menu-item">
			<a href="{% url 'lootbox' %}" class="nav-link">
				<span class="material-symbols-rounded">redeem</span>
			</a>
		</button>
	
		<!-- settings -->
		<button class="menu-item">
			<a href="{% url 'settings' %}" class="nav-link">
				<span class="material-symbols-rounded">settings</span>
			</a>
		</button>
	
		<!-- game guide -->
		<button class="menu-item">
			<a href="{% url 'guide' %}" class="nav-link">
				<span class="material-symbols-rounded">help</span>
			</a>
		</button>
	
		<!-- login/logout -->
		<button class="menu-item">
			<a href="{% url 'logout' %}" class="nav-link">
				<span class="material-symbols-rounded">logout</span>
			</a>
		</button>
	</nav>

	<div class="hump-container"></div>
</div>

<!-- notification form container -->
<div id="add-notif-form-container">

	<div class="exit-btn-container">
		<button id="exit-btn">
			<span class="material-symbols-rounded">close</span>
		</button>
	</div>

	<div class="header-container">
		<h2>Let's Create a Bulletin!</h2>
	</div>

	<form method="post" class="notif-form">
		<!-- <div class="notif-title-container">
			<label for="notif_title"></label>
			<input type="text" name="" id="notif_title" placeholder="Title">
		</div>
		
		<div class="notif-detail-container">
			<label for="notif_detail"></label>
			<textarea name="" id="notif_detail" cols="70" maxlength="60" rows="3" placeholder="Details"></textarea>
		</div>
		
		<div class="notif-deadline-container">
			<label for="notif_deadline">
				<p>Deadline:</p>
			</label>
			<input type="date" name="" id="notif_deadline">
		</div> -->
		
		{% csrf_token %}
		{{ form.as_p }}
		<div class="submit-notif-container">
			<button type="submit" id="submit-btn">
				<p>Create Bulletin</p>
			</button>
		</div>
	</form>
</div>


<div class="main-grid">
	<section class="left-section">

		<!-- desktop nav -->
		<nav id="nav-sidebar">

			<div class="logo-container">
				<img id="logo" src="{% static 'users/assets/icons/logo-round.png' %}" alt="logo">
			</div>

			<div class="nav-sidebar-content">

				<ul class="list">

					<!-- dashboard -->
					<li class="list-item">
						<a href="{% url 'dashboard' %}" class="nav-link">
							<span class="material-symbols-rounded mobile-current">dashboard</span>
							<span class="link">Dashboard</span>
						</a>
					</li>

					<!-- tasks -->
					<li class="list-item">
						<a href="{% url 'taskboard' %}" class="nav-link">
							<span class="material-symbols-rounded">task_alt</span>
							<span class="link">Tasks</span>
						</a>
					</li>

					<!-- notifications/bulletin -->
					<li class="list-item">
						<a href="{% url 'bulletin' %}" class="nav-link desktop-current">
							<span class="material-symbols-rounded">notifications</span>
							<span class="link">Notifications</span>
						</a>
					</li>

					<!-- leaderboard -->
					<li class="list-item">
						<a href="{% url 'leaderboard' %}" class="nav-link">
							<span class="material-symbols-rounded">leaderboard</span>
							<span class="link">Leaderboard</span>
						</a>
					</li>

					<!-- lootbox -->
					<li class="list-item">
						<a href="{% url 'lootbox' %}" class="nav-link">
							<span class="material-symbols-rounded">redeem</span>
							<span class="link">Lootbox</span>
						</a>
					</li>

				</ul>


				<div class="list-bottom-content">

					<!-- settings -->
					<li class="list-item">
						<a href="{% url 'settings' %}" class="nav-link">
							<span class="material-symbols-rounded">settings</span>
							<span class="link">Settings</span>
						</a>
					</li>

					<!-- game guide -->
					<li class="list-item">
						<a href="{% url 'guide' %}" class="nav-link">
							<span class="material-symbols-rounded">help</span>
							<span class="link">Game Guide</span>
						</a>
					</li>

					<!-- logout -->
					<li class="list-item">
						<a href="{% url 'logout' %}" class="nav-link">
							<span class="material-symbols-rounded">logout</span>
							<span class="link">Logout</span>
						</a>
					</li>
				</div>
			</div>
		</nav>
	</section>

	<section class="middle-section">

		<div class="button-container">
			{% for message in messages %}
			<div class="alert alert-success">
				<h2>{{ message }}</h2>
			</div>
			{% endfor %}

			<button id="add-notif-btn">
				<span class="material-symbols-rounded">add</span>
				<p>Add Bulletin</p>
			</button>
		</div>

		<div class="left-right-container">

			<div class="left-container">

				<h2>Bulletins</h2>

				<div class="todays-notification-container">

					<!-- a notification -->
					{% for bulletin in bulletins %}
					<div class="a-notification">
						<div class="user-profile">
							{% if user.profile.pk == bulletin.profile.pk %}
							<div class="curr-user-container">
								<img src="{% static 'users/assets/icons/logo-current-user.png' %}" alt="">
							</div>
							{% else %}
							<div class="other-user-container">
								<img src="{% static 'users/assets/icons/logo-round.png' %}" alt="">
							</div>
							{% endif %}
							<p class="user-name">{{ bulletin.profile.first_name }} {{ bulletin.profile.last_name }}</p>
						</div>
						<div class="user-post">
							<p class="time-date-header">Posted: 
								<span class="notif-style">
									{{ bulletin.creation_time|date:'h:ia' }} | 
									{{ bulletin.creation_time|date:'D, F j, Y' }}
								</span>
							</p>
							<h3 class="notif-title">{{ bulletin.title }}</h3>
							<p class="notif-body">{{ bulletin.bulletin_body }}</p>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>

			<div class="right-container">

				<h2>Completed Tasks</h2>

				<div class="table-container">
					<div class="table">

						<div class="row header">
							<h3>User</h3>
							<h3>Task Completed</h3>
							<h3>Earned Points</h3>
						</div> 

						<div class="row-data-container">
							
							<!-- table data -->
							{% for item in log %}
							<div class="row data">
								<div class="user-prof">
									<!--<img src="{{ task.user_img }}" alt="">-->
									<p>{{ item.user_claimed.first_name }} {{ item.user_claimed.last_name }}</p>
								</div>
								<div class="comp-task">
									<p>{{ item.title }}</p>
								</div>
								<div class="earned-pts">
									<p>{{ item.points }}</p>
								</div>
							</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
{% endblock %}

{% block js_files %}
<script src="{% static 'users/actions/notifications.js' %}"></script>
{% endblock %}