{% extends 'users/base.html' %}
{% load static %}

	{% block css_files %}

	<!-- link the index specific stylesheet -->
	<link rel="stylesheet" href="{% static 'users/styles/index-style.css' %}">
	
	{% endblock %}
</head>

{% block content %}
	<div class="main-grid">
		
		<!-- navigation -->
		<section class="left-section">

			<nav id="nav-mobile"></nav>

			<nav id="nav-sidebar">

				<div class="logo-container">
					<img id="logo" src="{% static 'users/assets/icons/logo-round.png' %}" alt="logo">
				</div>

				<div class="nav-sidebar-content">

					<ul class="list">

						<!-- dashboard -->
						<li class="list-item">
							<a href="{% url 'dashboard' %}" class="nav-link desktop-current">
								<span class="material-symbols-rounded mobile-current">dashboard</span>
								<span class="link">Dashboard</span>
							</a>
						</li>

						<!-- tasks -->
						<li class="list-item">
							<a href="{% url 'taskboard' %}" class="nav-link">
								<span class="material-symbols-rounded">task_alt</span>
								<span class="link">Tasks</span>
							</a>
						</li>

						<!-- notifications/bulletin -->
						<li class="list-item">
							<a href="{% url 'bulletin' %}" class="nav-link">
								<span class="material-symbols-rounded">notifications</span>
								<span class="link">Notifications</span>
							</a>
						</li>

						<!-- leaderboard -->
						<li class="list-item">
							<a href="{% url 'leaderboard' %}" class="nav-link">
								<span class="material-symbols-rounded">leaderboard</span>
								<span class="link">Leaderboard</span>
							</a>
						</li>

						<!-- lootbox -->
						<li class="list-item">
							<a href="{% url 'lootbox' %}" class="nav-link">
								<span class="material-symbols-rounded">redeem</span>
								<span class="link">Lootbox</span>
							</a>
						</li>

					</ul>


					<div class="list-bottom-content">

						<!-- settings -->
						<li class="list-item">
							<a href="#" class="nav-link">
								<span class="material-symbols-rounded">settings</span>
								<span class="link">Settings</span>
							</a>
						</li>

						<!-- game guide -->
						<li class="list-item">
							<a href="#" class="nav-link">
								<span class="material-symbols-rounded">help</span>
								<span class="link">Game Guide</span>
							</a>
						</li>

						<!-- logout -->
						<li class="list-item">
							<a href="{% url 'logout' %}" class="nav-link">
								<span class="material-symbols-rounded">logout</span>
								<span class="link">Logout</span>
							</a>
						</li>
					</div>
				</div>
			</nav>
		</section>

		<section class="middle-section">

			<div class="welcome-container">
				<!-- change this to profile.first_name -->
				<h1>Welcome back, {{ user.profile.first_name }} "Nick Name" {{ user.profile.last_name }}!</h1>
			</div>

			<div class="information-container">

				<div class="info-square-container">

					<div class="info-square">
						<h1>{{ unclaimed_count }}</h1>
						<h3>Unclaimed Tasks</h3>
					</div>

					<div class="info-square">
						<h1>{{ unstarted_count }}</h1>
						<h3>Tasks Not Started</h3>
					</div>
					
					<div class="info-square">
						<h1>{{ in_progress_count }}</h1>
						<h3>Tasks In Progress</h3>
					</div>
					
					<div class="info-square">
						<h1>{{ completed_count }}</h1>
						<h3>Completed Tasks</h3>
					</div>

				</div>

				<div class="todays-total-container">

					<h2>There are </h2>

					<h1 id="todays-points">{{ unclaimed_points }} pts</h1>
		
					<h2>available from unclaimed tasks.</h2>

					<div class="go-to-tasks-container">
						<button id="go-to-tasks-btn">
							<a href="{% url 'taskboard' %}">Go to Tasks</a>
						</button>
					</div>
				</div>

				<div class="recent-notifs-container">

					<div class="notifs-header">

						<h2>Bulletins</h2>

						<div class="go-to-notifs-container">
							<button id="go-to-notifs-btn">
								<a href="{% url 'bulletin' %}">Go to Notifications</a>
							</button>
						</div>

					</div>

					<div class="a-notification-container">
						
						{% for bulletin in bulletins %}
						<div class="a-notification">
							<div class="user-profile">
								{% if user.profile.pk == bulletin.profile.pk %}
								<img src="{% static 'users/assets/icons/logo-current-user.png' %}" alt="">
								{% else %}
								<img src="{% static 'users/assets/icons/logo-round.png' %}" alt="">
								{% endif %}
								<p class="user-name">{{ bulletin.profile.first_name }} {{ bulletin.profile.last_name }}</p>
							</div>

							<div class="user-post">
								<p class="time-date-header">Posted: <span class="notif-style">{{ bulletin.creation_time|date:'h:i A | l, F d, Y' }}</span></p>
								<h2 class="notif-title">{{ bulletin.title }}</h2>
								<p class="notif-body">
									{{ bulletin.body }}
								</p>
							</div>

						</div>
						{% endfor %}
                        <!-- 
						<div class="a-notification">
							<div class="user-profile">
								<img src="./assets/pictures/filippo-ruffini-6rsnRElhycs-unsplash.jpg" alt="">
								<p class="user-name">Rapheal</p>
							</div>
							<div class="user-post">
								<p class="time-date-header">Posted: <span class="notif-style">08:30 PM | Wednesday, October 5, 2022</span></p>
								<h3 class="notif-title">+10pts - Raphael has completed the task "Take out Trash"</h3>
								<p class="notif-body"></p>
							</div>
						</div>
						-->
					</div>
				</div>

			</div>
		</section>

	</div>
{% endblock %}
