{% extends 'users/base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'users/styles/game-guide.css' %}">
{% endblock %}

{% block content %}
<div class="main-grid">

	<section class="left-section">
		<!-- desktop nav -->
		<nav id="nav-sidebar">
	
			<div class="logo-container">
				<img id="logo" src="{% static 'users/assets/icons/logo-round.png' %}" alt="logo">
			</div>
	
			<div class="nav-sidebar-content">
	
				<ul class="list">
	
					<!-- dashboard -->
					<li class="list-item">
						<a href="{% url 'dashboard' %}" class="nav-link">
							<span class="material-symbols-rounded mobile-current">dashboard</span>
							<span class="link">Dashboard</span>
						</a>
					</li>
	
					<!-- tasks -->
					<li class="list-item">
						<a href="{% url 'taskboard' %}" class="nav-link">
							<span class="material-symbols-rounded">task_alt</span>
							<span class="link">Tasks</span>
						</a>
					</li>
	
					<!-- notifications/bulletin -->
					<li class="list-item">
						<a href="{% url 'bulletin' %}" class="nav-link">
							<span class="material-symbols-rounded">notifications</span>
							<span class="link">Notifications</span>
						</a>
					</li>
	
					<!-- leaderboard -->
					<li class="list-item">
						<a href="{% url 'leaderboard' %}" class="nav-link">
							<span class="material-symbols-rounded">leaderboard</span>
							<span class="link">Leaderboard</span>
						</a>
					</li>
	
					<!-- lootbox -->
					<li class="list-item">
						<a href="{% url 'lootbox' %}" class="nav-link">
							<span class="material-symbols-rounded">redeem</span>
							<span class="link">Lootbox</span>
						</a>
					</li>
	
				</ul>
	
	
				<div class="list-bottom-content">
	
					<!-- settings -->
					<li class="list-item">
						<a href="{% url 'settings' %}" class="nav-link">
							<span class="material-symbols-rounded">settings</span>
							<span class="link">Settings</span>
						</a>
					</li>
	
					<!-- game guide -->
					<li class="list-item">
						<a href="{% url 'guide' %}" class="nav-link desktop-current">
							<span class="material-symbols-rounded">help</span>
							<span class="link">Game Guide</span>
						</a>
					</li>
	
					<!-- logout -->
					<li class="list-item">
						<a href="{% url 'logout' %}" class="nav-link">
							<span class="material-symbols-rounded">logout</span>
							<span class="link">Logout</span>
						</a>
					</li>
				</div>
			</div>
		</nav>
	</section>
	
	<section class="middle-section">
	
		<div class="game-guide-container">
			<h1>Game Play Guide</h1>
			<p><em>Hello, and Welcome to Phourtnight!</em>
				<br>
				<em>You and all your roommates are in a household and ready to play?</em>
				<br>
				<em>Then let’s get started!</em>
				<br>
				<br>

				<b>How the game actually works:</b>
				<br>
				
				<b>Overview:</b>
				Phourtnight is a collaborative game that can be played with any group of people that shares a living space. The goal of the game is to collect points by completing tasks, level up, and get lootboxes with special rewards!
				<br>
				<br>
				<b>Task Creation:</b>
				To begin, household members create tasks that the household needs done. These can be any kind of tasks, your imagination is the limit. Using the navbar, navigate to the “Tasks” page. Then click the Add Task button, and add a descriptive name for the task, details about the task, and the day the task is due by. Then click create task to confirm. 
				<br>
				Every member of the household can now see this task in their “Unclaimed” column on the task board. And now they can bid.
				<br>
				<br>

				<b>Bidding:</b>
				Users bid the lowest amount of points they are willing to complete a task for. After 24 hours the task is assigned to the lowest bidder. 
				<br>
				<br>

				
				
				<b>Getting Points:</b>
				Once someone is assigned a task, they have until the deadline to complete it. Upon completion, they will be rewarded the amount of points they agreed to complete the task for. Failure means that they lose that amount of points!
				<br>

				Points gained show up in the leaderboard of the course of two weeks– a “Phourtnight” if you will. The player with the most points at the end wins the “Phournight” and gets bragging rights!
				<br>
				<br>

				<b>Kudos:</b>
				In addition, players can award points to each other for actions they deem beneficial to the household, whether it be acts of kindness, short notice favors, or anything else. The sky's the limit.
				<br>
				<br>

				<b>Leveling UP:</b>
				Finally, when a player gets enough points, they level up. Leveling up to a new level for the first time awards a player with a loot box, which contains customization options for a player’s leaderboard name.  (Repeated leveling to the same level–due to deleveling from penalties– does not award additional lootboxes. Nice try!)
				<br>
				<br>
				
				<b>Finally:</b>
				There are other pretty useful features to the app, like household notifications, but make sure you play the game. <b>Conquer</b> your roommates. <b>Rule</b> the household. <b>Become king</b> of – <b><em>The Phourtnight!</em></b>
				</p>
		</div>
	</section>
</div>
{% endblock %}

{% block js_files %}
{% endblock %}