{% extends 'users/base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'users/styles/game-guide.css' %}">
{% endblock %}

{% block content %}
<div class="main-grid">

	<section class="left-section">
		<!-- desktop nav -->
		<nav id="nav-sidebar">
	
			<div class="logo-container">
				<img id="logo" src="{% static 'users/assets/icons/logo-round.png' %}" alt="logo">
			</div>
	
			<div class="nav-sidebar-content">
	
				<ul class="list">
	
					<!-- dashboard -->
					<li class="list-item">
						<a href="{% url 'dashboard' %}" class="nav-link">
							<span class="material-symbols-rounded mobile-current">dashboard</span>
							<span class="link">Dashboard</span>
						</a>
					</li>
	
					<!-- tasks -->
					<li class="list-item">
						<a href="{% url 'taskboard' %}" class="nav-link">
							<span class="material-symbols-rounded">task_alt</span>
							<span class="link">Tasks</span>
						</a>
					</li>
	
					<!-- notifications/bulletin -->
					<li class="list-item">
						<a href="{% url 'bulletin' %}" class="nav-link">
							<span class="material-symbols-rounded">notifications</span>
							<span class="link">Notifications</span>
						</a>
					</li>
	
					<!-- leaderboard -->
					<li class="list-item">
						<a href="{% url 'leaderboard' %}" class="nav-link">
							<span class="material-symbols-rounded">leaderboard</span>
							<span class="link">Leaderboard</span>
						</a>
					</li>
	
					<!-- lootbox -->
					<li class="list-item">
						<a href="{% url 'lootbox' %}" class="nav-link">
							<span class="material-symbols-rounded">redeem</span>
							<span class="link">Lootbox</span>
						</a>
					</li>
	
				</ul>
	
	
				<div class="list-bottom-content">
	
					<!-- settings -->
					<li class="list-item">
						<a href="{% url 'settings' %}" class="nav-link">
							<span class="material-symbols-rounded">settings</span>
							<span class="link">Settings</span>
						</a>
					</li>
	
					<!-- game guide -->
					<li class="list-item">
						<a href="{% url 'guide' %}" class="nav-link desktop-current">
							<span class="material-symbols-rounded">help</span>
							<span class="link">Game Guide</span>
						</a>
					</li>
	
					<!-- logout -->
					<li class="list-item">
						<a href="{% url 'logout' %}" class="nav-link">
							<span class="material-symbols-rounded">logout</span>
							<span class="link">Logout</span>
						</a>
					</li>
				</div>
			</div>
		</nav>
	</section>
	
	<section class="middle-section">
		
		<div class="game-guide-container">
			<h1 class="header">Game Play Guide</h1>

			<div class="opening-sub-text">
				<em>Hello and Welcome to Phourtnight!</em>
				<br>
				<em>Are you and all your roommates in a household and ready to play?</em>
				<br>
				<em>Then let's get started!</em>
			</div>

			<h2>How the Game Works</h2>

			<div class="overview-container">
				<h3>Overview</h3>
				<p>
					Phourtnight is a collaborative game
					that may be played with any number of people
					who share a house.
					The purpose of the game is to accumulate points by completing tasks,
					levelling up, and obtaining lootboxes containing special rewards!
				</p>
			</div>

			<div class="task-create-container">
				<h3>Task Creation</h3>
				<p>
					To begin, members of the household set tasks that must be completed.
					Your creativity is the only restriction on what they may be.
					Using the navigation bar on your left, navigate to the 
					<span>
						<a href="{% url 'taskboard' %}">Tasks</a>
					</span> page.
					<br>
					<br>
					Then click on the <span>Add Task</span> button, add a name for the task, details about the task,
					and the day the task is due by. 
					Finally, click the <span>Create Task</span> button to confirm.
					<br>
					<br>
					Now, every member of the household can see this task in the <span>Uncalimed</span>
					column on the task board. From here, every member can bid.
				</p>
			</div>

			<div class="bid-container">
				<h3>Bidding</h3>
				<p>
					Members bid the lowest number of points they are willing to complete a task for. 
					After 24 hours the task is assigned to the lowest bidder.
					If no one bids, the task is assigned at random.
					This ensures that tasks that on one wishes to complete are done!
				</p>
			</div>
			
			<div class="get-points-container">
				<h3>Getting Points</h3>
				<p>
					Once a member is assigned a task, the now claimed task will show in the <span>To Do</span> column of the task board.
					Once a member has started a task, only they can move the task from the <span>To Do</span> column
					to the <span>In Progress</span> column.
					This will help members keep track of the tasks currently being completed.
					Members have until the specified deadline to compelete tasks.
					Upon completion, the member who claimed the task can drag-and-drop the task into the <span>Completed</span> column and
					they are awared points accordingly!
					<br>
					<br>
					Please note that all tasks on the task board are visible to all members in the household.
					This ensures transparency and accountability amongst members.
					<br>
					<br>
					Points gained over the course of a two week period - a <span>Phourtnight</span> - will show in the leaderboard.
					The member with the most points at the end wins the Phourtnight and gets bragging rights!
				</p>
			</div>

			<div class="kudos-container">
				<h3>Kudos</h3>
				<p>
					In addition, members can award other members points for actions they deem beneficial to the household,
					wheither that be acts of kindness, short notice favours, or anything else. The sky's the limit!
					<br>
					<br>
					To award kudos, navigate to the 
					<span>
						<a href="{% url 'leaderboard' %}">Leaderboard</a>
					</span> and click the &#128077; next to the members name. Each click grants them +10 points.
					Click as many times as you believe they deserve.
					<br>
					<br>
					Think of kudos as sort of a "Like Button" for anything a member does.
				</p>
			</div>

			<div class="levelling-container">
				<h3>Levelling Up</h3>
				<p>
					When a member gains enough points, they level up.
					A member who has levelled up will gain a lootbox which contains customisation options for a player's leaderboard name.
					The more a member levels up, the more lootboxes a member receives, and the more customisation options a member unlocks!
					<br>
					<br>
					Click on the 
					<span>
						<a href="{% url 'lootbox' %}">Lootbox</a>
					</span> section of the navigation bar to go to the lootbox and click <span>Roll</span>.
					The noun-adjective combination that is rolled is yours to keep and to customise your leaderboard display name with.
				</p>
			</div>

			<div class="end-notes">
				<h3>Finally</h3>
				<p>
					There are some other pretty useful features to our app, like household notificatoins, 
					but you have to play the game to find out!
				</p>
			</div>

			<div class="ending-sub-text">
				<h3>
					<em>Conquer your Roommates.</em>
				</h3>

				<h3>
					<em>Rule the Household.</em>
				</h3>

				<h3>
					<em>Become the King or Queen of the Phourtnight!</em>
				</h3>
			</div>
		</div>
	</section>
</div>
{% endblock %}

{% block js_files %}
{% endblock %}