{% extends 'users/base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'users/styles/settings.css' %}">
{% endblock %}

{% block content %}
<div class="main-grid">
		
	<section class="left-section">

		<!-- desktop nav -->
		<nav id="nav-sidebar">

			<div class="logo-container">
				<img id="logo" src="{% static 'users/assets/icons/logo-round.png' %}" alt="logo">
			</div>

			<div class="nav-sidebar-content">

				<ul class="list">

					<!-- dashboard -->
					<li class="list-item">
						<a href="{% url 'dashboard' %}" class="nav-link">
							<span class="material-symbols-rounded mobile-current">dashboard</span>
							<span class="link">Dashboard</span>
						</a>
					</li>

					<!-- tasks -->
					<li class="list-item">
						<a href="{% url 'taskboard' %}" class="nav-link">
							<span class="material-symbols-rounded">task_alt</span>
							<span class="link">Tasks</span>
						</a>
					</li>

					<!-- notifications/bulletin -->
					<li class="list-item">
						<a href="{% url 'bulletin' %}" class="nav-link">
							<span class="material-symbols-rounded">notifications</span>
							<span class="link">Notifications</span>
						</a>
					</li>

					<!-- leaderboard -->
					<li class="list-item">
						<a href="{% url 'leaderboard' %}" class="nav-link">
							<span class="material-symbols-rounded">leaderboard</span>
							<span class="link">Leaderboard</span>
						</a>
					</li>

					<!-- lootbox -->
					<li class="list-item">
						<a href="{% url 'lootbox' %}" class="nav-link">
							<span class="material-symbols-rounded">redeem</span>
							<span class="link">Lootbox</span>
						</a>
					</li>

				</ul>


				<div class="list-bottom-content">

					<!-- settings -->
					<li class="list-item">
						<a href="{% url 'settings' %}" class="nav-link desktop-current">
							<span class="material-symbols-rounded">settings</span>
							<span class="link">Settings</span>
						</a>
					</li>

					<!-- game guide -->
					<li class="list-item">
						<a href="{% url 'guide' %}" class="nav-link">
							<span class="material-symbols-rounded">help</span>
							<span class="link">Game Guide</span>
						</a>
					</li>

					<!-- logout -->
					<li class="list-item">
						<a href="{% url 'logout' %}" class="nav-link">
							<span class="material-symbols-rounded">logout</span>
							<span class="link">Logout</span>
						</a>
					</li>
				</div>
			</div>
		</nav>
	</section>

	<section class="middle-section">

		<nav class="settings-nav">
			<ul class="nav-list">
				<li class="list-item">
					<a href="#user-prof" class="nav-link">
						User Profile
					</a>
				</li>

				<li class="list-item">
					<a href="#update-acct" class="nav-link">
						Update Your Account
					</a>
				</li>

				<li class="list-item">
					<a href="#del-smthing" class="nav-link">
						Delete Account or Household
					</a>
				</li>
			</ul>
		</nav>

		<div class="settings-container">

			<div class="user-container">
				<h2 id="user-prof">User Profile</h2>
			
				<div class="current-user-container">

					<div class="container">
						<!-- current user image -->
						<div class="curr-user">
							<img src="{% static '/users/assets/icons/logo-current-user.png' %}" alt="">
						</div>
						<!-- user first and last name -->
						<p>{{ user.profile.first_name }} "{{ user.profile.adjective }} {{ user.profile.noun }}" {{ user.profile.last_name }}</p>
					</div>

					<div class="user-information-container">
						<div>
							<!-- user username -->
							<p>Username: {{ user.username }}</p>
						</div>

						<!--
						<div>
							<p>
								Password: 
								<span id="user-pass">******</span>
							</p>
							<button>Show</button>
						</div>
						-->

						<div>
							<!-- house pin -->
							<p>
								Your house pin is: <span id="house-pin">{{ household.pin }}</span>
							</p>
							<!--<button>Show</button>-->
						</div>
					</div>
				</div>

				<hr>
				<div class="roommates-list-container">
					<!-- list of house members -->
					<h3>Roommates</h3>
					<ul class="roommates-list">
						{% for member in members_by_name %}
						<li class="li-roommate">{{ member.first_name }} {{ member.last_name }}</li>
						{% endfor%}
					</ul>
				</div>
			</div>
			
			<div class="user-settings-container">

				<div class="updating-account-container">
					<h2 id="update-acct">Updating Your Account</h2>
					
					<!-- change display name form -->
					<div class="change-display-name">
						<h3>Change Display Name</h3>
						<p>
							Your name is visible to all roommates.
						</p>
						<form action="" method="post">
							{% csrf_token %}
							<input type="text" name="first_name" id="" placeholder="{{ user.profile.first_name }}">

							<select name="adjective" id="nickname_adjective_list">
								<option value="">Adjective</option>
								{% for adjective in adjectives %}
								<option value="{{ adjective }}">{{ adjective }}</option>
								{% endfor %}
							</select>

							<select name="noun" id="nickname_noun_list">
								<option value="">Noun</option>
								{% for noun in nouns %}
								<option value="{{ noun }}">{{ noun }}</option>
								{% endfor %}
							</select>

							<input type="text" name="last_name" id="" placeholder="{{ user.profile.last_name }}">
							<button type="submit" name="submit" value="name_change">Update Name</button>
						</form>
						
					</div>
					
					<hr>
					<!-- change username form -->
					<div class="change-username">
						<h3>Change Username</h3>
						<form action="" method="post">
							{% csrf_token %}
							<input type="text" name="user_name" id="change_username" placeholder="{{ user_name }}">
							<button type="submit" name="submit" value="username_change">Update username</button>
							{% if messages %}
							<ul class="messages">
							    {% for message in messages %}
     							    {%if "username" in message.tags %}
							    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							    	{% endif %}
							    {% endfor %}
							</ul>
							{% endif %}
						</form>
					</div>

					<!--
					<hr>
					<div class="change-password">
						<h3>Change Password</h3>
						<form action="" method="post">
							{% csrf_token %}
							<input type="password" name="password" id="change_password" placeholder="*****">
							<button type="submit" name="submit" value="password_change">Change password</button>
						</form>
					</div>
					-->

					<hr>
					<!-- leave household -->
					<div class="change-household">
						<h3>Change Household</h3>
						<p>
							Please enter the pin of the household you would like to join.
						</p>
						<form action="" method="post">
							{% csrf_token %}
							<input type="number" name="new_pin" id="change_house">
							<button type="submit" name="submit" value="household_change">Change Household</button>
							{% if messages %}
							<ul class="messages">
							    {% for message in messages %}
							    	{%if "change_household" in message.tags %}
							    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							   		{% endif %}
							    {% endfor %}
							</ul>
							{% endif %}
						</form>
					</div>
				</div>

				<div class="deleting-smthing-container">
					<h2 id="del-smthing">Delete Account or Household</h2>
					<!-- delete account -->
					<div class="delete-account">
						<h3>Delete Account?</h3>
						<p>
							By deleting your account,
							you will lose all of your associated data and access to your houshold.
							<br>
							<span>This action cannot be undone.</span>
							<br>
							To delete your account, enter your password below.
						</p>
						<form action="" method="post">
							{% csrf_token %}
							<input type="password" name="password" id="del_acct_pass">
							<button type="submit" name="submit" value="delete_account">Delete Account</button>
							<ul class="messages">
							    {% for message in messages %}
							    	{%if "delete_account" in message.tags %}
							    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
									{% endif %}
							    {% endfor %}
							</ul>						
						</form>
					</div>

					<hr>
					<!-- delete household -->
					<div class="delete-household">
						<h3>Delete Household</h3>
						<p>
							By deleting your household,
							you will lose all associated informaton related to you and your household.
							<br>
							<span>This action cannot be undone.</span>
							<br>
							To delete your household, enter the household pin below.
						</p>
						<form action="" method="post">
							{% csrf_token %}
							<input type="number" name="pin" id="del_house">
							<button type="submit" name="submit" value="delete_household">Delete Household</button>
							<ul class="messages">
							    {% for message in messages %}
							    	{%if "delete_household" in message.tags %}
							    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							    	{% endif %}
							    {% endfor %}
							</ul>							
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="attribution">
			<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
				<a property="dct:title" rel="cc:attributionURL" href="https://www.google.com/">Phourtnight</a> by
				<span property="cc:attributionName">KALPY Tech.</span>
				is licensed under
				<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank"
					rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-SA 4.0
					<img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">
					<img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1">
					<img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1">
					<img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1">
				</a>
			</p>
		</div>
	</section>

</div>
{% endblock %}

{% block js_files %}
{% endblock %}