{% extends 'users/base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'users/styles/settings.css' %}">
{% endblock %}

{% block content %}
<div class="main-grid">
		
	<section class="left-section">
	</section>

	<section class="middle-section">

		<nav class="settings-nav">
			<ul class="nav-list">
				<li class="list-item">
					<a href="#user-prof" class="nav-link desktop-current">
						User Profile
					</a>
				</li>

				<li class="list-item">
					<a href="#update-acct" class="nav-link">
						Update Your Account
					</a>
				</li>

				<li class="list-item">
					<a href="#del-smthing" class="nav-link">
						Delete Account or Household
					</a>
				</li>
			</ul>
		</nav>

		<div class="settings-container">

			<div class="user-container">
				<h2 id="user-prof">User Profile</h2>
			
				<div class="current-user-container">

					<div class="container">
						<!-- current user image -->
						<div class="curr-user">
							<img src="./assets/icons/logo-no-outline.png" alt="">
						</div>
						<!-- user first and last name -->
						<p>First Last</p>
					</div>

					<div class="user-information-container">
						<div>
							<!-- user username -->
							<p>Username: USERNAME</p>
						</div>

						<div>
							<!-- user password -->
							<p>
								Password: <span id="user-pass">******</span>
							</p>
							<button>Show</button>
						</div>

						<div>
							<!-- house pin -->
							<p>
								Your house pin is: <span id="house-pin">XXXX</span>
							</p>
							<button>Show</button>
						</div>
					</div>
				</div>

				<div>
					<!-- list of house members -->
					<h3>Roommates</h3>
					<ul class="roommates-list">
						<li class="li-roommate">John Smith</li>
						<li class="li-roommate">John Smith</li>
					</ul>
				</div>
			</div>

			<div class="user-settings-container">

				<div class="updating-account-container">
					<h2 id="update-acct">Updating Your Account</h2>
					
					<!-- change display name form -->
					<div class="change-user-name">
						<h3>Change Display Name</h3>
						<p>
							Your name is visible to all roommates.
						</p>
						<form action="" method="post">
							<input type="text" name="" id="" placeholder="First Name">
							<input type="text" name="" id="" placeholder="Last Name">
							<button type="submit">Update Name</button>
						</form>
						
					</div>
					
					<hr>
					<!-- change username form -->
					<div class="change-username">
						<h3>Change Username</h3>
						<form action="" method="post">
							<input type="text" name="" id="change_username" placeholder="Username">
							<button type="submit">Update username</button>
						</form>
					</div>

					<hr>
					<!-- change password form -->
					<div class="change-password">
						<h3>Change Password</h3>
						<form action="" method="post">
							<input type="password" name="" id="change_password" placeholder="*****">
							<button type="submit">Change password</button>
						</form>
					</div>

					<hr>
					<!-- leave household -->
					<div class="change-household">
						<h3>Change Household</h3>
						<p>
							Please enter the pin of the household you would like to join.
						</p>
						<form action="" method="post">
							<input type="number" name="" id="change_house">
							<button>Change Household</button>
						</form>
					</div>
				</div>

				<div class="deleting-smthing-container">
					<h2 id="del-smthing">Delete Account or Household</h2>
					<!-- delete account -->
					<div class="delete-account">
						<h3>Delete Account?</h3>
						<p>
							By deleting your account,
							you will lose all of your associated data and access to your houshold.
							<br>
							This action cannot be undone.
							<br>
							To delete your account, enter your password below.
						</p>
						<form action="" method="post">
							<input type="password" name="" id="del_acct_pass">
							<button type="submit">Delete Account</button>
						</form>
					</div>

					<hr>
					<!-- delete household -->
					<div class="delete-household">
						<h3>Delete Household</h3>
						<p>
							By deleting your household,
							you will lose all associated informaton related to you and your household.
							<br>
							This action cannot be undone.
							<br>
							To delete your household, enter the household pin below.
						</p>
						<form action="" method="post">
							<input type="number" name="" id="del_house">
							<button type="submit">Delete Household</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
{% endblock %}

{% block js_files %}
{% endblock %}