/* =================== CONSTANTS =================== */
h3 {
	color: var(--accent-red);
	margin-bottom: .3rem;
}

br {
	margin: 1rem 0;
}

div:not(:first-child) {
	margin: 1rem 0;
}

a {
	cursor: pointer;
	color: var(--accent-blue);
	text-decoration: underline;
	transition: var(--std-transition);
}

a:hover {
	color: var(--accent-red);
	transition: var(--std-transition);
}

span {
	font-weight: 600;
	color: var(--accent-blue);
}

.opening-sub-text *, .ending-sub-text * {
	color: var(--accent-darker-grey);
}

.ending-sub-text {
	text-align: center;
}

/* =================== primary media query =================== */

/* =================== media queries =================== */

/* =================== MOBILE =================== */
@media only screen and (max-width: 40em) {
	.main-grid {
		grid-template-columns: repeat(4, 1fr);
	}

	/* ---------- hide desktop nav ---------- */
	.left-section {
		display: none;
	}

	.middle-section {
		grid-column: span 4;
		padding: 1rem;
	}

	/* =================== global: navigation -- mobile =================== */
	.mobile-nav-container {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.mobile-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding: 0 2rem;
		background-color: var(--font-colour);
	}

	.menu-item {
		background-color: var(--font-colour);
		width: 3.5rem;
		height: 3.5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu-item.mobile-current {
		background-color: var(--accent-light-blue);
	}

	.menu-item:nth-child(n):hover {
		background-color: var(--accent-red);
	}

	.menu-item:nth-child(2n):hover {
		background-color: var(--accent-orange);
	}

	.menu-item:nth-child(3n):hover {
		background-color: var(--accent-blue);
	}


	.nav-link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav-link .material-symbols-rounded {
		margin: 0;
		color: var(--primary-white);
	}

	.menu-item:hover {
		cursor: pointer;
	}

}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.main-grid {
		grid-template-columns: repeat(6, 1fr);
	}

	/* ---------- hide desktop nav ---------- */
	.left-section {
		display: none;
	}

	.middle-section {
		grid-column: span 6;
		padding: 1rem;
	}


	/* =================== global: navigation -- mobile =================== */
	.mobile-nav-container {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.mobile-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding: 0 2rem;
		background-color: var(--font-colour);
	}

	.menu-item {
		background-color: var(--font-colour);
		width: 3.5rem;
		height: 3.5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu-item.mobile-current {
		background-color: var(--accent-light-blue);
	}

	.menu-item:nth-child(n):hover {
		background-color: var(--accent-red);
	}

	.menu-item:nth-child(2n):hover {
		background-color: var(--accent-orange);
	}

	.menu-item:nth-child(3n):hover {
		background-color: var(--accent-blue);
	}


	.nav-link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav-link .material-symbols-rounded {
		margin: 0;
		color: var(--primary-white);
	}

	.menu-item:hover {
		cursor: pointer;
	}

}

/* =================== DESKTOP AND BEYOND =================== */
@media only screen and (min-width: 64.063em) {
	.left-section {
		grid-column: span 1;
	}

	.mobile-nav-container {
		display: none;
	}

	.middle-section {
		grid-column: span 11;
		padding: 1rem;
	}
}