/* =================== CONSTANTS =================== */
h3 {
	color: var(--accent-red);
	margin-bottom: .3rem;
}

br {
	margin: 1rem 0;
}

div:not(:first-child) {
	margin: 1rem 0;
}

a {
	cursor: pointer;
	color: var(--accent-blue);
	text-decoration: underline;
	transition: var(--std-transition);
}

a:hover {
	color: var(--accent-red);
	transition: var(--std-transition);
}

span {
	font-weight: 600;
	color: var(--accent-blue);
}

.opening-sub-text *, .ending-sub-text * {
	color: var(--accent-darker-grey);
}

.ending-sub-text {
	text-align: center;
}

/* =================== primary media query =================== */

/* =================== media queries =================== */

/* =================== MOBILE =================== */
@media only screen and (max-width: 40em) {
	.main-grid {
		grid-template-columns: repeat(4, 1fr);
	}

	/* ---------- hide desktop nav ---------- */
	.left-section {
		display: none;
	}

	.middle-section {
		grid-column: span 4;
		padding: 1rem;
	}
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.main-grid {
		grid-template-columns: repeat(6, 1fr);
	}

	/* ---------- hide desktop nav ---------- */
	.left-section {
		display: none;
	}

	.middle-section {
		grid-column: span 6;
		padding: 1rem;
	}
}

/* =================== DESKTOP AND BEYOND =================== */
@media only screen and (min-width: 64.063em) {
	.left-section {
		grid-column: span 1;
	}

	.mobile-nav-container {
		display: none;
	}

	.middle-section {
		grid-column: span 11;
		padding: 1rem;
	}
}