/* =================== CONSTANTS =================== */
button {
	padding: .5rem 1rem;
	background-color: var(--font-colour);
	border: 2px solid var(--font-colour);
	border-radius: 1000px;
	transition: var(--std-transition);
}

button a {
	color: var(--primary-white);
	text-decoration: none;
}

/* ---------- containers ---------- */
.info-square-container,
.todays-total-container,
.recent-notifs-container {
	margin-top: 1rem;
}

/* ---------- info square container ---------- */
.info-square-container {
	display: grid;
}

.info-square {
	grid-column: span 1;

	margin: 0 auto;
	padding: 1rem;

	border-radius: var(--std-border-radius);
	text-align: center;
	min-width: 10rem;
	height: 8rem;
	transition: var(--std-transition);
	
}

.info-square:nth-child(1n) {
	background-color: var(--accent-blue);
}

.info-square:nth-child(2n) {
	background-color: var(--accent-orange);
}

.info-square:nth-child(3n) {
	background-color: var(--accent-red);
}

.info-square:nth-child(4n) {
	background-color: var(--accent-light-blue);
}

.info-square h1 {
	font-size: 54px;
	color: var(--primary-white);
}

.info-square h3 {
	font-size: 12px;
	color: var(--primary-white);
}

/* ---------- tasks available ---------- */
.todays-total-container {
	padding: 1rem;
	display: grid;
	text-align: center;
	background-color: var(--primary-white);
	border-radius: var(--std-border-radius);
	border: 2px solid var(--font-colour);
}

.todays-total-container h2 {
	grid-column: span 1;
	font-size: 16px;
	margin: auto auto;
}

#todays-points {
	grid-column: span 1;
	font-size: 60px;
	color: var(--accent-red);
}

.go-to-tasks-container {
	grid-column: span 1;
	display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}

#go-to-tasks-btn {
	font-size: 12px;
}

/* ---------- recent notifications ---------- */
.recent-notifs-container {
	background-color: var(--primary-white);
	border-radius: var(--std-border-radius);
	border: 2px solid var(--font-colour);
	padding: 1.5rem;
}

.notifs-header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: .5rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


#go-to-notifs-btn {
	font-size: 12px;
}

/* ---------- a notification ---------- */
.a-notification-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 16px;
}

.a-notification {
	grid-column: span 1;

	display: grid;
	grid-template-columns: max-content auto;
	gap: 10px;

	padding: .3rem .5rem;
	border-left: 4px solid var(--accent-blue);
	border-radius: 0 10px 10px 0;
	margin-left: 1rem;
	transition: var(--std-transition);
}

.user-profile {
	margin: auto auto;
	padding: .3rem;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curr-user-container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    border: 3px solid var(--accent-red);
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-user-container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    border: 3px solid var(--accent-blue);
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile img {
	width: 2.5rem;
	height: 2.5rem;
}

.user-name {
	font-size: 14px;
}

.user-post {
	max-width: 44rem;
}

.user-post .time-date-header, .user-post .notif-style  {
	color: var(--accent-darker-grey);
	font-size: 14px;
}

/* =================== primary media query =================== */

/* =================== MOBILE =================== */
@media only screen and (max-width: 40em) {

	.main-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, min-content);
		padding: 1rem;
	}

	/* ---------- hide desktop navigation ---------- */
	.left-section {
		display: none;
	}

	.middle-section {
		grid-column: span 4;
	}

	.info-square-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.todays-total-container {
		display: grid;
		grid-template-rows: repeat(4, min-content);
		gap: 10px;
	}
	
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	
	.main-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, min-content);
		padding: 1rem;
	}

	/* ---------- hide desktop navigation ---------- */
	.left-section {
		display: none;
	}

	.middle-section {
		grid-column: span 6;
	}
	
	.right-section {
		grid-column: span 6;
	}

	.info-square-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.info-square {
		min-width: 100%;
	}

	.todays-total-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr) max-content;
		gap: 10px;
	}
}

/* =================== DESKTOP AND BEYOND =================== */
@media only screen and (min-width: 64.063em) {

	button:hover {
		cursor: pointer;
		background-color: var(--accent-blue);
		/* border-color: var(--accent-blue); */
		transition: var(--std-transition);
	}

	/* ---------- hide mobile navigation ---------- */
	nav.mobile {
		display: none;
	}

	/* ---------- grid sections ---------- */
	.left-section {
		grid-column: span 1;
	}
	
	.middle-section {
		grid-column: span 11;
		padding: 2rem;
	}

	/* ---------- middle section ---------- */

	.info-square-container {
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
	}

	.info-square:hover {
		transform: translateY(-0.5rem);
		transition: var(--std-transition);
	}

	.todays-total-container {
		grid-template-columns: repeat(3, 1fr) max-content;
		gap: 10px;
	}

	/* ---------- right section ---------- */
	.a-event:hover {
		cursor: pointer;
		background-color: var(--primary-background-colour);
		transition: var(--std-transition);
	}
}