
/* =================== CONSTANTS =================== */
.lootbox-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* =================== lootbox container styles =================== */

/* slot machine */
#slot-machine {
	width: 540px;
	background-color: var(--font-colour);
	background-image: linear-gradient( #3c3f6f, var(--font-colour), #111434);
	margin: 10px auto 20px;
	padding: 20px;
	border-radius: 50px;
}

.group, .reel, .lever {
	display: inline-block;
}

.group, .lever {
	background-color: var(--accent-blue);
	background-image: linear-gradient( #6a8fec, var(--accent-blue), #4165c0);
}

.group {
	border-radius: 30px;
	padding: 20px 0 20px 20px;
}

.reel {
	background-color: var(--primary-white);
	background-image: linear-gradient(var(--primary-white), #e5e5e5, #c6c6c6);
	text-align: center;
	float: left;
	padding: 0.3rem 10px;
	width: 135px;
	height: 100px;
	overflow: hidden;
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .3) inset, 0 0px 1px rgba(0, 0, 0, .2) inset;
}

.reel div {
	position: relative;
	top: -48px;
}

.reel p {
	font-weight: bold;
	height: 60px;
	margin-top: 10px;
	color: var(--font-colour);
}

.lever {
	float: right;
	padding-right: 20px;
}

.lever button {
	text-align: center;
	border-radius: 10px;
	line-height: 100px;
	width: 100px;
	border: none;
	font-size: 1.8em;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;

	background-color: var(--accent-light-blue);
	background-image: linear-gradient( #dee4f3, var(--accent-light-blue), #8a95ba);
	cursor: pointer;
	
}

.lever button:active {
	color: var(--font-colour);
	box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 45%);
	margin: 2px 0 -2px;
}


/* =================== primary media query =================== */

/* =================== media queries =================== */

/* =================== MOBILE =================== */
@media only screen and (max-width: 40em) {
	.main-grid {
		grid-template-columns: repeat(4, 1fr);
	}

	.left-section {
		display: none;
	}

	.middle-section {
		grid-column: span 4;
		padding: 5rem 1rem 1rem;
	}

	/* slot machine */
	#slot-machine {
		width: 347px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.group:not(:last-child) {
		margin-bottom: 1rem;
	}

	.reel {
		width: 120px;
	}

	.lever {
		float: none;
		padding-right: 20px;
		width: 100%;
	}

	.lever button {
		line-height: 60px;
		width: 100%;
		
	}


	/* =================== global: navigation -- mobile =================== */
	.mobile-nav-container {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.mobile-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding: 0 2rem;
		background-color: var(--font-colour);
	}

	.menu-item {
		background-color: var(--font-colour);
		width: 3.5rem;
		height: 3.5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu-item.mobile-current {
		background-color: var(--accent-light-blue);
	}

	.menu-item:nth-child(n):hover {
		background-color: var(--accent-red);
	}

	.menu-item:nth-child(2n):hover {
		background-color: var(--accent-orange);
	}

	.menu-item:nth-child(3n):hover {
		background-color: var(--accent-blue);
	}


	.nav-link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav-link .material-symbols-rounded {
		margin: 0;
		color: var(--primary-white);
	}

	.menu-item:hover {
		cursor: pointer;
	}


}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.main-grid {
		grid-template-columns: repeat(6, 1fr);
	}

	.left-section {
		display: none;
	}

	.middle-section {
		grid-column: span 6;
		padding: 16rem 0 0;
	}


	/* =================== global: navigation -- mobile =================== */
	.mobile-nav-container {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.mobile-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding: 0 2rem;
		background-color: var(--font-colour);
	}

	.menu-item {
		background-color: var(--font-colour);
		width: 3.5rem;
		height: 3.5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu-item.mobile-current {
		background-color: var(--accent-light-blue);
	}

	.menu-item:nth-child(n):hover {
		background-color: var(--accent-red);
	}

	.menu-item:nth-child(2n):hover {
		background-color: var(--accent-orange);
	}

	.menu-item:nth-child(3n):hover {
		background-color: var(--accent-blue);
	}


	.nav-link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav-link .material-symbols-rounded {
		margin: 0;
		color: var(--primary-white);
	}

	.menu-item:hover {
		cursor: pointer;
	}

}

/* =================== DESKTOP AND BEYOND =================== */
@media only screen and (min-width: 64.063em) {
	/* =================== left section =================== */
	.left-section {
		grid-column: span 1;
	}

	.mobile-nav-container {
		display: none;
	}
	
	/* =================== middle section =================== */
	.middle-section {
		grid-column: span 11;
		text-align: center;
	}
}