
/* =================== imported fonts =================== */
/* Nunito Sans: Black, Bold, Semi-bold, Regular*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap');

/* =================== global variables =================== */
:root {
	--background-colour: #FFF9ED;

	--font-colour: #22254C;
	--accent-blue: #6488E5;
	--accent-orange: #F9BE7D;
	--accent-red: #E56372;
	--accent-light-blue: #BAC4E1;
	--accent-grey: #D1D1D6;
	--accent-darker-grey: #b0b0b0;
	--primary-white: white;

	--std-border-radius: 30px;
	--std-transition: all .2s ease-in-out;

}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Nunito Sans', sans-serif;
	color: var(--font-colour);
}

/* =================== base page styles =================== */
body {
	background-color: var(--background-colour);
}

button {
	font-family: 'Nunito Sans', sans-serif;
}

/* =================== font styles =================== */
h1 {
	/* black */
	font-weight: 900;
	font-size: 30px;
}

h2 {
	/* bold */
	font-weight: 700;
	font-size: 20px;
}

h3 {
	/* semi bold */
	font-weight: 600;
	font-size: 18px;
}

p {
	/* regular */
	font-weight: 400;
	font-size: 16px;
}

/* =================== main grid global =================== */
.main-grid {
	display: grid;
	grid-template-columns: min-content repeat(11, 1fr);
	gap: 10px;
}

/* =================== global: navigation -- desktop =================== */
#nav-sidebar {
	background-color: var(--background-colour);
	margin: 1rem;
}

.logo-container {
	padding: 1rem;
	text-align: center;
}

.logo-container #logo {
	width: 5rem;
}

.nav-sidebar-content {
	display: flex;
	height: calc(100vh - 9.5rem);
	flex-direction: column;
	justify-content: space-between;
	padding: .8rem;
}

.nav-sidebar-content .list-item {
	list-style: none;
}

.list-item.mobile {
	display: none;
}

.list-item .nav-link {
	display: flex;
	align-items: center;
	margin: .5rem 0;
	padding: .8rem;
	text-decoration: none;
	border-radius: 15px;
	transition: var(--std-transition);
}

.nav-link.desktop-current {
	background-color: var(--accent-grey);
}

.list-item .nav-link:hover {
	background-color: var(--accent-grey);
	transition: var(--std-transition);
}

.nav-link .material-symbols-rounded {
	margin-right: .4rem;
	font-size: 16px;
	color: var(--font-colour);
}

.nav-link .link {
	font-size: 14px;
}