/* =================== CONSTANTS =================== */
input, 
textarea {
	background-color: var(--primary-white);
	border-radius: 10px;
	border: 2px solid var(--primary-white);
	outline: none;
}

/* change the place holder colour */
input::placeholder, 
textarea::placeholder {
	color: var(--font-colour);
}

input:focus, 
textarea:focus {
	border-color: var(--font-colour);
}

input[type=date] {
	padding: .3rem;
	padding-left: .8rem;
}

label {
	font-size: 14px;
}

/* ---------- notification form style---------- */
#add-notif-form-container {
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: center;

	right: 0;

	min-width: 40vw;
	max-height: 100vh;
	
	background-color: var(--accent-orange);
	border-radius: 30px 0px 0px 30px;
	padding: 2rem;
	
	display: none;
}


/* =================== exit button =================== */
#exit-btn {
	background-color: var(--accent-orange);
	border-radius: 10000px;
	border: 2px solid var(--accent-orange);

	padding: .3rem;

	display: flex;
	align-self: center;
	transition: var(--std-transition);
}

#exit-btn span {
	font-size: 20px;
	font-weight: 500;
}

#exit-btn:hover {
	cursor: pointer;
	background-color: var(--primary-white);
	border-color: var(--font-colour);
	transition: var(--std-transition);
}

.header-container {
	margin-bottom: 1rem;
	text-align: center;
}
/* =================== title container =================== */


.submit-notif-container {
	text-align: center;
}

/* styling for form HERE */
#notif-title {
	width: 100%;
	padding: .5rem;
	margin-bottom: 1rem;
}

#notif-detail {
	padding: .5rem;
	margin-bottom: 1rem;
}

#notif-deadline {
	width: 85%;
}

/* ---------- submit form ---------- */
#submit-btn {
	background-color: var(--accent-blue);
	border: 2px solid var(--accent-blue);
	border-radius: var(--std-border-radius);

	padding: .5rem;
	width: 100%;
	margin-top: 2rem;
	transition: var(--std-transition);
}

#submit-btn p {
	color: var(--primary-white);
}

#submit-btn:hover {
	cursor: pointer;
	border-color: var(--font-colour);
	transition: var(--std-transition);
}