
/* =================== CONSTANTS =================== */
.middle-section {
	padding: 1rem;

	/* for the top and bottom containers */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content;
	gap: 10px;
}

/* ---------- top button container ---------- */
.top-button-container {
	grid-row: span 1;

	margin: 3rem 0 1rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* ---------- left buttons ---------- */
/* board btn */
.left-buttons-container {
	display: flex;
	flex-direction: row;
}

/* ---------- buttons (both left and right) ---------- */
.button {
	background-color: var(--primary-card-colour);
	border: 2px solid var(--primary-card-colour);
	border-radius: var(--std-border-radius);
	padding: .6rem 2rem;

	display: flex;
	flex-direction: row;
	text-align: center;
}

.button span, .button p {
	margin: auto 0;
	font-size: 14px;
}

.button *:not(:last-child) {
	display: inline-block;
	margin-right: .3rem;
}

/* ---------- left button ---------- */
.button.left {
	border: 2px solid var(--primary-light-blue);
	background-color: var(--primary-input-colour);
}

/* ---------- right button ---------- */
.button.right {
	background-color: var(--primary-dark-blue);
	border-color: var(--primary-dark-blue);
}

/* ---------- bottom container, 
task-column-container,
column ---------- */
.column-header-container {
	padding: 1rem;
	border-bottom: 2px solid #9BA8BC;
	margin-bottom: 1rem;
}

/* the span */
.column-total {
	background-color: var(--primary-light-blue);
	margin-left: .5rem;
	padding: .3rem .4rem;
	border-radius: var(--std-border-radius);
}

/* ---------- bottom container ---------- */
.bottom-container {
	grid-row: span 1;
}

/* ---------- column container ---------- */
.task-column-container {
	display: grid;
	gap: 15px;
}


/* =================== primary media query =================== */

/* =================== MOBILE =================== */
@media only screen and (max-width: 40em) {
	.main-grid {
		grid-template-columns: repeat(4, 1fr);
	}

	/* ---------- hide desktop naviation ---------- */
	.left-section {
		display: none;
	}

	/* ---------- middle section ---------- */
	.middle-section {
		grid-column: span 4;
	}

	/* ---------- task column container ---------- */
	.task-column-container {
		grid-template-columns: repeat(1, 1fr);
	}

	.column {
		grid-column: span 1;
	}
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	.main-grid {
		grid-template-columns: repeat(6, 1fr);
		padding: 1rem;
	}

	/* ---------- hide desktop naviation ---------- */
	.left-section {
		display: none;
	}

	/* ---------- middle section ---------- */
	.middle-section {
		grid-column: span 6;
	}

	/* ---------- task column container ---------- */
	.task-column-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.column {
		grid-column: span 1;
	}
}

/* =================== DESKTOP AND BEYOND =================== */
@media only screen and (min-width: 64.063em) {

	/* ---------- hide mobile naviation ---------- */

	/* ---------- display desktop naviation ---------- */
	.left-section {
		grid-column: span 1;
	}

	/* ---------- middle section ---------- */
	.middle-section {
		grid-column: span 11;
	}

	/* right buttons hover */
	.button.right:hover {
		cursor: pointer;
		/* 50% of primary-dark-blue */
		background-color: rgba(0, 111, 242, 50%);
		border: 2px solid var(--primary-dark-blue);
	}

	/* ---------- task column container ---------- */
	.task-column-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.column {
		grid-column: span 1;
	}
}